@import url(sanitize.css);

header {
    background-color: rgba(255, 0, 166, 0.296);
    padding: 10px;
    color: #050112;


    margin: 0;
}

header h1 {
    font-size: 24px;
    margin: 0;
    font-weight: normal;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;

}

p {
    margin: 2px;
}